{% extends 'list_content_base.html.twig' %}

{% import 'macros/kitchen_sink.html.twig' as kitchen %}

{% block title %}{{ "analyze.title"|trans }}{% endblock %}
{% block description %}{{ "analyze.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% set show_login = true %}
{% set show_dashboard = false %}
{% set color_class = globals_color_class_organisation %}

{% block list_content_0 %}
    <p>
        {{ "analyze.length"|trans }}: {{ length }} Sekunden <br/>
        {{ "analyze.organisation_id"|trans }}: {{ organisation.id }}<br/>
        {{ "analyze.log_count"|trans }}: {{ logs|length }}<br/>
        {{ "analyze.group"|trans }}: {{ person.studyGroup }}
    </p>
{% endblock %}

{% block list_content_1 %}
    <h1>{{ "analyze.log"|trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{{ "analyze.key"|trans }}</th>
            <th>{{ "analyze.value"|trans }}</th>
            <th>{{ "analyze.occurred_at"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in logs %}
            <tr>
                <td>{{ entry.key }}</td>
                <td>{{ entry.value }}</td>
                <td>{{ entry.occurredAtDateTime|date("d.m.Y H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_content_2 %}
    <h1>{{ "entity.plural"|trans({}, "entity_member") }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ "name"|trans({}, "trait_thing") }}</th>
            <th>{{ "description"|trans({}, "trait_thing") }}</th>
            <th>{{ "email"|trans({}, "trait_communication") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for member in organisation.members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.description }}</td>
                <td>{{ member.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_content_3 %}
    <h1>{{ "entity.plural"|trans({}, "entity_event_line") }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ "name"|trans({}, "trait_thing") }}</th>
            <th>{{ "description"|trans({}, "trait_thing") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for eventLine in organisation.eventLines %}
            <tr>
                <td>{{ eventLine.name }}</td>
                <td>{{ eventLine.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_content_4 %}
    <h1>{{ "entity.plural"|trans({}, "entity_event_line") }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ "created_at_date_time"|trans({}, "entity_event_line_generation") }}</th>
            <th>{{ "entity.name"|trans({}, "entity_event_line") }}</th>
            <th>{{ "distribution_type"|trans({}, "entity_event_line") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for eventLine in organisation.eventLines %}
            {% for generation in eventLine.eventLineGenerations %}
                <tr>
                    <td>{{ generation.createdAtDateTime|myDateTime }}</td>
                    <td>{{ eventLine.name }}</td>
                    <td>{{ generation.distributionTypeName|trans({}, "enum_distribution_type") }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_content_5 %}
    <h1>{{ "entity.plural"|trans({}, "entity_event") }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ "start_date_time"|trans({}, "entity_event") }}</th>
            <th>{{ "end_date_time"|trans({}, "entity_event") }}</th>
            <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
            <th>{{ "entity.name"|trans({}, "entity_event_line") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for eventLine in organisation.eventLines %}
            {% for event in eventLine.events %}
                <tr>
                    <td>{{ event.startDateTime|myDateTime }}</td>
                    <td>{{ event.endDateTime|myDateTime }}</td>
                    <td>{{ event.member }}</td>
                    <td>{{ event.eventLine }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}