{% extends 'list_content_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% set show_login = true %}
{% set show_dashboard = false %}
{% set color_class = globals_color_class_organisation %}

{% block list_content_0 %}
    <h2>{{ "index.study.hello"|trans }}</h2>
    <p class="h2-description">{{ "index.study.hello_description"|trans }}</p>

    <p>
        <a href="{{ path('study_entry_point') }}">{{ "index.study.start_study"|trans }}</a>
    </p>
{% endblock %}